[Desktop Entry]
Name=OpenSesame
GenericName=Open Sesame Password Manager
Exec=opensesame
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=false
